@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #0a0a0f;
  --secondary-bg: #161627;

  --color: #fff;
  --secondary-color: #888;
  --accent-color: rgb(131, 131, 243);
}

* {
  transition: 0.1s background-color ease-out;
}

body {
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--bg-color);
  color: var(--color);
  accent-color: var(--accent-color);
}

button {
  cursor: pointer;
  padding: 0.25em;

  border-width: 2px;
  border-radius: 8px;
  border-style: solid;
  font-size: large;

  transition: 0.1s border-color ease-out;
  background-color: var(--secondary-bg);
  color: var(--color);
  border-color: var(--secondary-bg);

  svg {
    margin: auto;
    min-height: 65%;
    width: auto;
  }
}

button:hover {
  border-color: rgb(131, 131, 243);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f0f0f0;
    --secondary-bg: #fafafa;

    --color: #1e1e2d;
    --secondary-color: #c8c8d2;
    --accent-color: #ea74ac;
  }
}
